/* You can add global styles to this file, and also import other style files */
.assinatura {
  z-index: 9998;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.assinaturaInterno {
  z-index: 9999;
  background-color: white;
  margin: 30px;
  padding: 10px;
  border: 6px solid;
  border-radius: 10px;
  text-align: center;
}

.xsign {
  float: right;
  margin-right: 10px;
  cursor: pointer;
}